---
import Curriculum from "../components/Curriculum.astro";
import Header from "../components/Header.astro";
import Stats from "../components/Stats.astro";
import WhoAmI from "../components/WhoAmI.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />
	<div class="main-container">
		<div class="curriculum-container">
			<Curriculum />
		</div>
		<div class="personal-container">
			<WhoAmI />
			<Stats />
		</div>
	</div>
</Layout>

<style>
	.main-container {
		display: flex;
		height: calc(100vh - 3lh);
	}
	.curriculum-container {
		display: flex;
		width: 50%;
	}
	.personal-container {
		display: flex;
		flex-direction: column;
		width: 50%;
	}
</style>
