<div box-="square" class="box" shear-="top">
    <div class="header-top-center">
        <span>&lt; Contact &gt;</span>
    </div>

    <div class="contact-content">
        <p>
            Email: <a href="mailto:slobs_cubist_0e@icloud.com"
                >slobs_cubist_0e@icloud.com</a
            >
        </p>
        <p>
            GitHub: <a href="https://github.com/1800kon" target="_blank"
                >@1800kon</a
            ><br />
            LinkedIn: <a
                href="https://linkedin.com/in/KonstantinBoguev"
                target="_blank">@KonstantinBoguev</a
            >
        </p>
    </div>
</div>

<style>
    .box {
        height: 40%;
    }

    .header-top-center {
        text-align: center;
        font-weight: bold;
        margin-bottom: 1ch;
    }

    .contact-content {
        padding-inline: 2ch;
        font-family: monospace;
        font-size: 1rem;
        line-height: 1.6;
    }

    a {
        color: dodgerblue;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
