<div box-="square">
    <div id="name" class="container">
        <p class="color-text">┻━┻︵ \(°□°)/ ︵ ┻━┻</p>
    </div>
</div>

<style>
    .color-text {
        color: #fab387;
        font-size: xx-large;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2lh;
    }

    .container p {
        margin: 0;
    }

    button {
        margin-left: auto;
    }
</style>
