<div box-="square" class="box" shear-="top">
    <div id="whoAmI" class="header-top-center">
        <span>&lt; Who am I? &gt;</span>
    </div>
</div>

<style>
    .box {
        height: 50%;
    }
</style>
